@import '../../assets/styles/variables.less';

.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: @color-background;

  .app-content {
    flex: 1;
    padding: 0;
    background: transparent;
  }
}

