@import '../../../assets/styles/variables.less';

.reconciliation-detail-page {
  .page-header {
    padding: 24px;
    max-width: 800px;
    margin: 0 auto;
  }

  .plan-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
