@import '../../../assets/styles/variables.less';

.reconciliation-list-page {
  .plan-card {
    .ant-card-head {
      border-bottom: none;
      padding: 16px 24px 0;
    }
    .ant-card-body {
      padding: 24px;
    }
  }
}
